@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
/* Geral */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}

header {
    width: 100%;
    height: 80px;
    background-color: #ffb2c7;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    position: fixed !important;
    top: 0;
    left: 0;
    z-index: 999999;
}

header img.logo {
    height: 80px;
    padding: 0px;
}

header h3 {
    font-family: 'Cinzel';
    font-size: 24px;
    color: #ffffff;
    margin: 0 15px;
    padding: 40px;
}

.menuu {
    display: flex;
    justify-content: space-between;
}

.menuu a{
    text-decoration: none;
    color:black;
    font-family: "Cinzel", serif;
    font-style: normal;
    font-weight: 300;
}

.capa {

    background-image:
      linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url('/Assets/bolo-capa.jpg');
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

.capa h1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 75px;
    font-family: Cinzel;
    font-weight: normal;
    color: white;
    border: 4.5px, solid, white;
    width: 700px;
    height: 190px;
    border-radius: 25px;
    margin-top: 150px;
}

.capa h3{

    font-size: 30px;
    font-family: Cinzel;
    font-weight: normal;
    color: white;
    text-align: center;
    margin-top: 10px;
}

/* ------------------------------------------ */

/* ------------------Index------------------- */
.nossa-historia {
    width: 100%;
    height: 800px;
    position: relative;
    background: white;
    overflow: hidden/* opcional */
}

/* FUNDO FIXO */
.nossa-historia .fundo {
    position: relative;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

/* FAIXAS */
.faixa-1 {
    position: absolute;  /* corrigido */
    width: 200%;
    height: 200px;
    left: -50%;
    transform: rotate(30deg);
    box-shadow: 20px -2px 9px rgba(0, 0, 0, 0.27);
}

/* primeira (rosa mais forte) */
.f1 {
    background: #FFB2C7;
    bottom: -150PX;
}

/* segunda */
.f2 {
    background: #FFC5D5;
    bottom: -250px;
}

/* terceira (rosa claro) */
.f3 {
    background: #FFD9E3;
    bottom: -350px;
}

.faixa-2 {
    position: absolute;  /* corrigido */
    width: 200%;
    height: 200px;
    left: -50%;
    transform: rotate(-30deg);
    box-shadow: 20px -2px 9px rgba(0, 0, 0, 0.27);
}

.f4 {
    background: #FFB2C7;
    bottom: -150PX;
}

/* segunda */
.f5 {
    background: #FFC5D5;
    bottom: 250px;
}

/* terceira (rosa claro) */
.f6 {
    background: #FFD9E3;
    bottom: 350px;
}


/* ------------------------------------------ */


/* ------------------Produtos--------------- */
/* tortas */
.tipo1 , .tipo2 , .tipo3 {
    display: flex;
    justify-content: space-between; /* Alinha o título e o botão nas extremidades */
    justify-content: center;     /* centralizado */
    gap: 40px;                    /* espaço entre as imagens */
    margin-top: 50px;
}
.tortas {
    position: relative;
    width: 361px;     /* igual ao tamanho da imagem */
}

.torta_limao {
    width: 100%;
    border-radius: 25px;
}

.botao1 {
    position: absolute;
    bottom: 50px;
    left: 0;
    width: 100%;
    padding: 18px;
    background: #ffb2c7;
    border: none;
    text-align: center;
    color: black;
    cursor: pointer;
    display: block;
    transition: background 0.3s ease;
    font-family: "Open Sans", sans-serif;

}

.botao1:hover {
    background: #ff7fa6;
}
/* macarron-------------------------------------------- */
.macarron {
    position: relative;
    width:361px;
}

.macarron_rosa {
    width:100%;
    border-radius: 25px;
}

.botao2 {
    position: absolute;
    bottom: 50px;
    left: 0;
    width: 100%;
    padding: 18px;
    background: #ffb2c7;
    border: none;
    text-align: center;
    color: black;
    cursor: pointer;
    display: block;
    transition: background 0.3s ease;
    font-family: "Open Sans", sans-serif;
}
.botao2:hover {
    background: #ff7fa6;
}
/* docinhos------------------------------------ */
.docinhos {
    position: relative;
    width:361px;
}

.docinho{
    width:100%;
    border-radius: 25px;

}
.botao3{
    position: absolute;
    bottom: 50px;
    left: 0;
    width: 100%;
    padding: 18px;
    background: #ffb2c7;
    border: none;
    text-align: center;
    color: black;
    cursor: pointer;
    display: block;
    transition: background 0.3s ease;
    font-family: "Open Sans", sans-serif;
}
.botao3:hover {
    background: #ff7fa6;
}

/* mousse -------------------------- */
.mousses{
    position: relative;
    width:361px;
}
.mousse{
    width:100%;
    border-radius: 25px;
}
.botao4{
    position: absolute;
    bottom: 50px;
    left: 0;
    width: 100%;
    padding: 18px;
    background: #ffb2c7;
    border: none;
    text-align: center;
    color: black;
    cursor: pointer;
    display: block;
    transition: background 0.3s ease;
    font-family: "Open Sans", sans-serif;
}
.botao4:hover {
    background: #ff7fa6;
}
/* eclair --------------------------------*/
.eclairs {
    position: relative;
    width:361px;
}
.eclair {
    width:100%;
    border-radius: 25px;
}
.botao5 {
    position: absolute;
    bottom: 50px;
    left: 0;
    width: 100%;
    padding: 18px;
    background: #ffb2c7;
    border: none;
    text-align: center;
    color: black;
    cursor: pointer;
    display: block;
    transition: background 0.3s ease;
    font-family: "Open Sans", sans-serif;
}

.botao5:hover {
    background: #ff7fa6;
}

/* fundues------------------------------------------------- */
.foundes {
    position: relative;
    width:361px;
}
.founde {
    width:100%;
    border-radius: 25px;
}
.botao6 {
    position: absolute;
    bottom: 50px;
    left: 0;
    width: 100%;
    padding: 18px;
    background: #ffb2c7;
    border: none;
    text-align: center;
    color: black;
    cursor: pointer;
    display: block;
    transition: background 0.3s ease;
    font-family: "Open Sans", sans-serif;
}
.botao6:hover {
    background: #ff7fa6;
}

/* pudin------------------------------------ */
.pudins {
    position: relative;
    width:361px;
}

.pudin {
    width:100%;
    border-radius: 25px;
}
.botao7 {
    position: absolute;
    bottom: 50px;
    left: 0;
    width: 100%;
    padding: 18px;
    background: #ffb2c7;
    border: none;
    text-align: center;
    color: black;
    cursor: pointer;
    display: block;
    transition: background 0.3s ease;
    font-family: "Open Sans", sans-serif;
}
.botao7:hover {
    background: #ff7fa6;
}

/* biscoito --------------------------------------------- */
.biscoitos {
    position: relative;
    width:361px;
}
.biscoito {
    width:100%;
    border-radius: 25px;
}
.botao9{
    position: absolute;
    bottom: 50px;
    left: 0;
    width: 100%;
    padding: 18px;
    background: #ffb2c7;
    border: none;
    text-align: center;
    color: black;
    cursor: pointer;
    display: block;
    transition: background 0.3s ease;
    font-family: "Open Sans", sans-serif;
}
.botao9:hover {
    background: #ff7fa6;
}

/* bolo ------------------------------------------- */
.bolos {
    position: relative;
    width:361px;
}
.bolo {
    width:100%;
    border-radius: 25px;
}
.botao10{
    position: absolute;
    bottom: 50px;
    left: 0;
    width: 100%;
    padding: 18px;
    background: #ffb2c7;
    border: none;
    text-align: center;
    color: black;
    cursor: pointer;
    display: block;
    transition: background 0.3s ease;
    font-family: "Open Sans", sans-serif;
}
.botao10:hover {
    background: #ff7fa6;
}
 
/* combos ---------------------------------- */
.combos {
    position: relative;
    width:361px;
}
.combo {
    width:100%;
    border-radius: 25px;
}

.botao11 {
    position: absolute;
    bottom: 50px;
    left: 0;
    width: 100%;
    padding: 18px;
    background: #ffb2c7;
    border: none;
    text-align: center;
    color: black;
    cursor: pointer;
    display: block;
    transition: background 0.3s ease;
    font-family: "Open Sans", sans-serif;
}
.botao2:hover {
    background: #ff7fa6;
}
/* ------------------Eventos---------------- */

.login-box {
    background: #f8b9c9;
    width: 80%;
    margin: -60px auto 0;
    padding: 60px;
    border-radius: 5px;
    box-shadow: 0 5px 25px rgba(0,0,0,0.15);
    position: relative;

}

.login-box h2 {
    margin-top: 0 auto;
    margin-bottom: 40px;
    text-align: center;
    color: #BD3459;
    text-decoration: none;
    font-family: "Cinzel", serif;
    font-size: 45px;
    font-style: normal;
    font-weight: normal;
}

/* label */
.titulo {
    display: block;
    font-family: "Cinzel", serif;
    font-size: 20px;
    color: #191416;
    margin-bottom: 10px;
}

.nome {
    display: flex;
    gap: 200px;
}

/* Campos */
.nome input {
    width: 300px;
    padding: 15px 10px;
    border: 2px solid #ff8ac0;
    border-radius: 15px;
    font-size: 15px;
    font-family: "Cinzel", serif;
}

.nome input::placeholder {
    color: #adadad;
}

/* Faz com que o Email e Telefone fiquem um ao lado do outro pelo flexbox */
.campo-duplo {
    display: flex;
    gap: 200px;
    margin-top: 120px;
}

.campo-item input {
    width: 300px;
    padding: 15px 10px;
    border: 2px solid #ff8ac0;
    border-radius: 15px;
    font-size: 15px;
    font-family: "Cinzel", serif;
}

.campo-item input::placeholder {
    color: #adadad;
}

/* seleção de eventos */
.select-evento {
    width: 100%;
    padding: 20px;
    font-size: 24px;
    font-family: "Cinzel", serif;
    color: #333;                 
    background-color: #fff;      
    border: 3px solid #ff64b0;
    border-radius: 25px;
    cursor: pointer;
    transition: .3s;
    background-color: #ffe8f2; 
    border: 3px solid #e91e63; 
    color: #e91e63; 
    font-weight: bold;
}

/* Efeito de hover/foco (opcional) */
.select-evento:hover,
.select-evento:focus {
    border-color: #BD3459;
    box-shadow: 0 0 5px rgba(233, 30, 99, 0.5);
}

/* Estilo para a opção 'Selecione o Evento' desabilitada */
.select-evento option:disabled {
    color: #adadad;
    font-weight: normal;
}

/* ------------------------------------------ */