@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');

/* Geral */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    height: 80px;
    background-color: #ffb2c7;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    position: fixed;
}

header img.logo {
    height: 200px;
    padding: 40px;
}

header h3 {
    font-family: 'Cinzel';
    font-size: 24px;
    color: #ffffff;
    margin: 0 15px;
    padding: 40px;
}

.menuu {
    display: flex;
    justify-content: space-between;   
}

.menuu a{
    text-decoration: none;
    color:black;
    font-family: "Cinzel", serif;
    font-style: normal;
    font-weight: 300;
}

.capa {
    
    background-image:
      linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
      url('/Assets/bolo-capa.jpg');
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    display: flex;                   
    justify-content: center;         
    flex-direction: column;
    align-items: center;
  }

.capa h1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 75px;
    font-family: Cinzel;
    font-weight: normal;
    color: white;
    border: 4.5px, solid, white;
    width: 700px;
    height: 190px;
    border-radius: 25px;
    margin-top: 150px;
}

.capa h3{

    font-size: 30px;
    font-family: Cinzel;
    font-weight: normal;
    color: white;
    text-align: center;
    margin-top: 10px;   
}

/* ------------------------------------------ */

/* ------------------Index------------------- */


/* ------------------------------------------ */


/* ------------------Produtos--------------- */
.tortas {
    display: grid;
    place-items: center; /* agora funciona */
    width: 320px; /* igual a largura da imagem */
    position: relative;
}

.torta_limao {
    width: 320px;
    border-radius: 25px;
    display: block;
}

.botao1 {
    padding: 10px 20px;
    background: pink;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    z-index: 1; /* para ficar por cima */
}



/* ------------------Eventos---------------- */

.login-box {
    background-color: #FFC5D5;
    width: 670px;
    margin: 30px auto;
    margin-top: 90px;
    margin-left: 300px;
    margin-bottom: 0px;
    padding: 22px;
    border-radius: 8px 8px 0px 0px;
    box-shadow: 0 1px 4px rgba(0,0,0,0.1)
}

.login-box h2 {
    margin-top: 25px;
    margin-bottom: 2px;
    text-align: center;
    color: #BD3459;
    text-decoration: none;
    font-family: "Cinzel", serif;
    font-style: normal;
    font-weight: 300;
}

/* label */
.titulo {
    display: block;
    font-family: "Cinzel", serif;
    font-size: 20px;
    color: #191416;
    margin-bottom: 10px;
}

.nome {
    display: flex;
    gap: 65px;
}

/* Campos */
.nome input {
    width: 270px;
    padding: 12px 15px;
    border: 2px solid #ff8ac0;
    border-radius: 10px;
    font-size: 15px;
    font-family: "Cinzel", serif;
}

.nome input::placeholder {
    color: #adadad;
}
/* ------------------------------------------ */