@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');

/* Geral */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    height: 80px;
    background-color: #ffb2c7;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    position: fixed;
}

header img.logo {
    height: 200px;
    padding: 40px;
}

header h3 {
    font-family: 'Cinzel';
    font-size: 24px;
    color: #ffffff;
    margin: 0 15px;
    padding: 40px;
}

.menuu {
    display: flex;
    justify-content: space-between;   
}

.menuu a{
    text-decoration: none;
    color:black;
    font-family: "Cinzel", serif;
    font-style: normal;
    font-weight: 300;
}

.capa {
    
    background-image:
      linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
      url('/Assets/bolo-capa.jpg');
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    display: flex;                   
    justify-content: center;         
    flex-direction: column;
    align-items: center;
  }

.capa h1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 75px;
    font-family: Cinzel;
    font-weight: normal;
    color: white;
    border: 4.5px, solid, white;
    width: 700px;
    height: 190px;
    border-radius: 25px;
    margin-top: 150px;
}

.capa h3{

    font-size: 30px;
    font-family: Cinzel;
    font-weight: normal;
    color: white;
    text-align: center;
    margin-top: 10px;   
}

/* ------------------------------------------ */

/* ------------------Index------------------- */
.fundo {
  position: relative;
  width: 100%;
  height: 100vh;
  background: white; /* parte branca em cima */
  overflow: hidden;
}

/* FAIXAS */
.faixa {
    position: absolute;
    width: 200%;
    height: 120px;
    left: -50%;
    transform: rotate(-30deg);
    box-shadow: -10 80px 160px rgba(50,50,50,0.15);
}

/* primeira (rosa mais forte) */
.f1 {
  background: #ffb3c9;
  bottom: -120px;
}

/* segunda */
.f2 {
  background: #ffc6d7;
  bottom: -240px;
}

/* terceira (rosa claro) */
.f3 {
  background: #ffe1eb;
  bottom: -352px;
}

/* ------------------------------------------ */


/* ------------------Produtos--------------- */
/* tortas */
.tortas {
    position: relative;
    width: 361px;     /* igual ao tamanho da imagem */
}

.torta_limao {
    width: 100%;
    border-radius: 25px;
}

.botao1 {
    position: absolute;
    bottom: 50px;
    left: 0;
    width: 100%;
    padding: 18px;
    background: #ffb2c7;
    border: none;
    text-align: center;
    color: black;
    font-weight: bold;
    cursor: pointer;
    display: block;
    transition: background 0.3s ease;
}

.botao1:hover {
    background: #ff7fa6;
}
/* macarron */
.macarron {
    position: relative;
    width:361px;
}

.macarron_rosa{
    width:100%;
    border-radius: 25px;
}

.botao2{
position: absolute;
    bottom: 50px;  
    left: 0;

    width: 100%;           
    padding: 18px ;  
    background: #ffb2c7;
    font-weight: bold;
    border: none;
    cursor: pointer;
}


/* ------------------Eventos---------------- */

.login-box {
    background: #f8b9c9;
    width: 80%;
    margin: -60px auto 0;
    padding: 60px;
    border-radius: 5px;
    box-shadow: 0 5px 25px rgba(0,0,0,0.15);
    position: relative;
    
}

.login-box h2 {
    margin-top: 0 auto;
    margin-bottom: 40px;
    text-align: center;
    color: #BD3459;
    text-decoration: none;
    font-family: "Cinzel", serif;
    font-size: 45px;
    font-style: normal;
    font-weight: normal;
}

/* label */
.titulo {
    display: block;
    font-family: "Cinzel", serif;
    font-size: 20px;
    color: #191416;
    margin-bottom: 10px;
}

.nome {
    display: flex;
    gap: 200px;
}

/* Campos */
.nome input {
    width: 300px;
    padding: 15px 10px;
    border: 2px solid #ff8ac0;
    border-radius: 15px;
    font-size: 15px;
    font-family: "Cinzel", serif;
}

.nome input::placeholder {
    color: #adadad;
}

.campo-duplo
/* ------------------------------------------ */