@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');

/* Geral */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    height: 100px;
    background-color: #ff69b4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
}

header img.logo {
    height: 200px;
    padding: 40px;
}

header h3 {
    font-family: 'Arial', sans-serif;
    font-size: 24px;
    color: #ffffff;
    margin: 0 15px;
    padding: 40px;
}

.menuu {
    display: flex;
    justify-content: space-between;   
}

.menuu a{
    text-decoration: none;
    color:black;
    font-family: "Cinzel", serif;
    font-style: normal;
    font-weight: 300;
}

/* ------------------------------------------ */

/* ------------------Index------------------- */


/* ------------------------------------------ */



/* ------------------Eventos---------------- */


/* ------------------------------------------ */