* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    height: 100px;
    background-color: #ff69b4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
}

header img.logo {
    height: 200px;
    padding: 40px;
}

header h3 {
    font-family: 'Arial', sans-serif;
    font-size: 24px;
    color: #ffffff;
    margin: 0 15px;
}