@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');

/* Geral */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    height: 60px;
    background-color: #ff69b4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    position: fixed;
    margin-top: 0px;
}

header img.logo {
    height: 200px;
    padding: 40px;
}

header h3 {
    font-family: 'Cinzel';
    font-size: 24px;
    color: #ffffff;
    margin: 0 15px;
    padding: 40px;
}

.menuu {
    display: flex;
    justify-content: space-between;   
}

.menuu a{
    text-decoration: none;
    color:black;
    font-family: "Cinzel", serif;
    font-style: normal;
    font-weight: 300;
}

.capa {
    
    background-image:
      linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
      url('/Assets/bolo-capa.jpg');
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    display: flex;                   
    justify-content: center;         
    flex-direction: column;
    align-items: center;
  }

.capa h1{
    color: #ffffff;
    display: flex;
    justify-content: center;
    font-family: Cinzel;
    font-style: normal;
    font-size: 70px;
    border: 3px solid #ffffff;
    border-radius: 10px;
    padding: 50px, 10px;
}




/* ------------------------------------------ */

/* ------------------Index------------------- */


/* ------------------------------------------ */


/* ------------------Produtos--------------- */
.botao1 img{
    width: 320px;
    border-radius: 40px;
    

}


/* ------------------Eventos---------------- */

.login-box {
    background-color: #FFC5D5;
    width: 670px;
    margin: 30px auto;
    margin-top: 90px;
    margin-left: 300px;
    margin-bottom: 0px;
    padding: 22px;
    border-radius: 8px 8px 0px 0px;
    box-shadow: 0 1px 4px rgba(0,0,0,0.1)
}

.login-box h2 {
    margin-top: 25px;
    margin-bottom: 2px;
    text-align: center;
    color: #BD3459;
    text-decoration: none;
    font-family: "Cinzel", serif;
    font-style: normal;
    font-weight: 300;
}

/* ------------------------------------------ */